/*
---------------------------------------
FLEXBOX
---------------------------------------
*/

.block1{
  --bg: red;
}

.block2{
  --bg: blue;
}

.block3{
  --bg: green;
}

.block4{
  --bg: orange;
}

.block5{
  --bg: purple;
}

.block{
  box-sizing: border-box;
  height: 200px;
  background-color: var(--bg, black);
  border: solid black 5px;
  flex-grow: 1;
  flex-shrink: 1;
}

.flexbox{
  box-sizing: border-box;
  border: solid red 1px;
  height: 500px;
  padding: 20px;

  /* Flex wrapper */
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: stretch;
  align-content: initial;
}

.item1{
  /* flex-grow: 4; */
  flex-basis: 500px;
  flex-shrink: 2;
  order: 3;
  align-self: center;
}

.item2{
  order: 2;
}

.item3{
  order: 4;
}
.item4{
  order: 5;
}

.item5{
  order: 1;
}
