/*
---------------------------------------
GridLayout
---------------------------------------
*/

.grid{
  width: 100%;
  height: 100vh;

  /* Grid definition */
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
}

.item{
  border: solid red 1px;
  background: red;
}
